@model MVCPage.ViewModel.CreateDonThuocVM
@{
    ViewData["Title"] = "Lập đơn thuốc";
    var MaPhieuKham =  ViewData["MaPhieuKham"];
}
<h5><p>Lập đơn thuốc</p></h5>
<hr />
<div class="container">
    <div class="row">
        
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Nhập thông tin đơn thuốc</div>
                <div class="card-body">
                    <form asp-action="Create" asp-controller="DonThuoc" asp-method="get" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-route-MaPhieuKham = "@ViewData["MaPhieuKham"]" />
                        <div class="form-group">
                             <label asp-for="thongTinDonThuoc.TenThuoc" class="control-label"></label>
                            <input asp-for="@Model.thongTinDonThuoc.TenThuoc" class="form-control" required=""/>
                            <span asp-validation-for="thongTinDonThuoc.TenThuoc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                             <label asp-for="thongTinDonThuoc.SoLuong" class="control-label"></label>
                            <input asp-for="@Model.thongTinDonThuoc.SoLuong" class="form-control" min="1" required=""/>
                            <span asp-validation-for="thongTinDonThuoc.SoLuong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                             <label asp-for="thongTinDonThuoc.CachDung" class="control-label"></label>
                            <input asp-for="@Model.thongTinDonThuoc.CachDung" class="form-control" required=""/>
                            <span asp-validation-for="thongTinDonThuoc.CachDung" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="hidden" asp-for="@Model.MaPhieuKham" />
                        </div>                    
                        <div class="form-group" style="margin-left:28%">
                            <input type = "submit" value="Thêm Chi tiết" class="btn btn-primary" />
                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">Thông tin đơn thuốc</div>
                <div class="card-body">
                   <table class="table ">
                       <thead class="thead-dark">
                           <th>Tên thuốc</th>
                           <th>Số lượng</th>
                           <th>Cách dùng</th>
                           <th>Thành tiền</th>
                       </thead>
                       <tbody>                     
                               @foreach (var item in Model.listThongTinDonThuoc){
                                   <tr>
                                        <td>@item.TenThuoc </td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.CachDung</td>
                                        <td>@item.ThanhTien VND</td>
                                    </tr>
                                }
                            <tr>
                              <td colspan="4"><div style="margin-left:67%"> Tổng tiền:&nbsp;&nbsp;&nbsp;@Model.TongTien VND</div></td>
                            </tr>
                       </tbody> 
                   </table>
                </div>
                 <div class="card-footer">
                    <form asp-controller="DonThuoc" asp-action="LapDonThuoc" asp-method="post" id="#myForm"> 
                        <input type="hidden" asp-for="@Model.MaPhieuKham" /> 
                        <input type="hidden" id="flag2" value="1" /> 
                        <button type="submit" class="btn btn-primary" style="margin-left:75%">
                            Lập đơn thuốc
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="container">
             <div class="card">
                <div class="card-header">Thông tin loại thuốc</div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <th>Tên thuốc</th>
                            <th>Số lượng </th>
                            <th>Đơn vị </th>
                            <th>Đơn giá</th>
                        <thead>
                        <tbody>
                        @foreach (var item in Model.thongtinthuoc) {
                                <tr>
                                    <td>
                                        @item.TenThuoc
                                    </td>
                                    <td>
                                        @item.SoLuong
                                    </td>
                                    <td>
                                        @item.DonVi
                                    </td>
                                    <td>
                                        @item.DonGia VND
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>