@model IEnumerable<ApplicationCore.Entities.ChiTietDonThuoc>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chi tiết đơn thuốc</title>
</head>
<body>

<div>
   <div class="Card">
        <div><h5> Danh sách chi tiết đơn thuốc </h5></div>
        <hr />
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <th>Mã thuốc</th>
                <th>Mã đơn thuốc</th>
                <th>Số lượng</th>
                <th>Cách dùng</th>
                <th>Thành tiền</th>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.MaThuoc</td>
                        <td>@ViewData["MaDonThuoc"]</td>
                        <td>@item.SoLuong</td>
                        <td>@item.CachDung</td>
                        <td>@item.ThanhTien VND</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index" style="text-decoration:none"><button class="btn btn-info">Trở lại trang trước</button></a>
</div>
</body>
</html>
