@model ApplicationCore.DTOs.ThuocDTO
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin chi tiết</title>
</head>
<body>

<div>
    <h4>Thuoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controler="Thuoc" asp-route-id="@Model.MaThuoc">Sửa</a> |
    <a asp-action="Index">Trở lại trang trước</a>
</div>
</body>
</html>
