@model MVCPage.ViewModel.BenhIndexVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách bệnh</title>
</head>
<body>
<h5>Danh sách các loại bệnh</h5>
<hr />
<p>
   <a class="btn btn-outline-info" asp-action="Create">Thêm mới</a>
</p>
<form method="get">
    <p>
        Tìm Tên:
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchString" style="width:20px;" value="@ViewData["CurrentFilter"]" placeholder="Nhập loại bệnh..." />
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Mã bệnh
            </th>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]"> Tên bệnh </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Benhs) {
        <tr>
            <td>
                @item.MaBenh
            </td>
            <td>
                @item.TenBenh
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBenh">Sửa </a> |
                <a asp-action="Details" asp-route-id="@item.MaBenh">Chi tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var disNext= !Model.Benhs.HasNext ? " visibility: hidden" : "";   
    var disPre= !Model.Benhs.HasPrevious ? " visibility: hidden" : "";   
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disPre"
        asp-route-pageIndex="@( Model.Benhs.PageIndex - 1 )"
        asp-route-sort="@ViewBag.CurrentSort"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
    </li>           
        @{     
            for(int i=1; i <= Model.Benhs.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.Benhs.TotalPages>=8 && @i>=Model.Benhs.PageIndex-2 && @i<=Model.Benhs.PageIndex+2)
                {
                    if(@i==Model.Benhs.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.Benhs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item ">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sortOrder="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.Benhs.PageIndex+2 && @i<Model.Benhs.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.Benhs.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.Benhs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-sortOrder="@ViewBag.CurrentSort"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }         
			}
		}
<li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disNext"
        asp-route-pageIndex="@( Model.Benhs.PageIndex + 1 )"
        asp-route-sort="@ViewBag.CurrentSort"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
</li>  
</ul>
</body>
</html>
