@model ApplicationCore.Entities.NhanVien
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="NhanVien">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNhanVien" />
            <div class="form-group">
                <label class="control-label">Vai trò</label>
                <select name="MaVaiTro" class="form-control">
                    <option value="@ViewData["MaVaiTro"]">@ViewData["TenVaiTro"]</option>
                    @foreach (var item in ViewData["DanhSach"] as IEnumerable<ApplicationCore.Entities.VaiTro>){
                        <option value="@item.MaVaiTro">@item.TenVaiTro</option>
                    }
                </select>
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <select name="GioiTinh"class="form-control">
                    <option value="@ViewData["GioiTinh"]">@ViewData["GioiTinh"]</option>
                    <option value="@ViewData["GioiTinhConLai"]">@ViewData["GioiTinhConLai"]</option>
                </select>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
